.container {
  height: 99vh;
}

.filter-button,
.input-field {
  align-self: flex-end;
}

.search-box {
  order: 0;
}

.load-more {
  order: 2;
  flex-grow: 1;
}

.search-results {
  order: 1;
  flex-basis: 80%;
}

.search-results > .result-item {
  min-height: 25%;
  border: 1px dashed blue;
}
